<section class="title-screen">
  <div class="title-screen__center">
    <h1>What to eat?</h1>
    <p>Find recipe's based on some small questions.</p>
    <a class="button button__orange" href="/question/{{ nextQuestion }}">Start quiz</a>
  </div>
</section>
