<section class="title-screen">
  <div class="title-screen__center">
    <img class="title-screen__logo" src="../img/logo.svg" alt="">
    <h1 class="title-screen__title">What to watch?</h1>
    <p>Not to sure what movie to watch during netflix and chill?</p>
    <p>We'll pick the movie for you!</p>
    <a class="button button__orange" href="/question/{{ nextQuestion }}">Start browsing</a>
  </div>
</section>
