<section class="two-row-template">
  <a class="button button__orange button__search" href="/question/0"><img src="../img/searcher.svg" alt="">New search</a>

  <section class="two-row-template__half">
    <h1>We found 20 movies based on your preferences!</h1>
  </section>

  <section class="two-row-template__half">
    <h2>My movie list</h2>
    <div class="movie-list">
      {{#each savedData }}
        <article class="movie-card">
          <div class="movie-card__overlay">
              <a class="button button__detail" href="../movie/{{ this.id }}" type="button" name="button">Details</a>
          </div>
          <img src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="">
        </article>
      {{/each}}
    </div>
  </section>
</section>
